/function_app_assessment/1st_question_CRUD/.gitignore
/function_app_assessment/2nd_question_resize_image/.gitignore
/function_app_assessment/3rd_question_auto_index/.gitignore
/function_app_assessment/9th_question_data_migration/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/misc.xml
